body {
    margin: 0;
    padding: 0;
    background-color: rgb(117, 161, 161);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.bg-title{
    background-color: rgb(168, 219, 219);
}
header{
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: auto;
}
header ul .nav-item a {
    padding: 2px 18px;
}
header ul .nav-item {
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    
    width: 100%;
    min-height: 85vh;
    border-radius: 12px;
}

.container .card{

}

.container > .form-group{
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border-radius: 12px;
    width: 25%;
}

.login ,.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    min-height: auto;
    border-radius: 12px;
    
    
}
.login > .form-group,.signin > .form-group{
    padding: 10px;
    width: 25%;
    height: auto;
    border-radius: 12px;
    background-color: aliceblue;
    
}
.login label,.signin label{
    font-size: large;
    font-weight: bold;
}

footer{
    position: relative;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 10vh;
}